!!!
%html
  %head
    %title
    
    = bootstrap_assets
    
    %script(src="js/app.js" type="text/javascript")
  %body
    - container :fluid do
      - row do
        .span2
        .span4
          %h1 Test Application
      - row do
        .span2
          .ul
            .li
              %a{href: "/"}Home
            .li
              %a{href: "/js-test"}JS Test
        - span4 do
          = yield

